@page
@model IndexModel
@inject Wangkanai.Detection.Services.IDetectionService DetectionService
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        Type: @DetectionService.Device.Type
        Platform Name: @DetectionService.Platform.Name
        Browser Name: @DetectionService.Browser.Name
        Browser Version: @DetectionService.Browser.Version
    </p>
</div>
